#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  
  #top{
    display: flex;
  }
  
  #middle{
    display: flex;
  
  }
  
  #bottom {
    display: flex;
  }
  
  #addNew{
    height: 70px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    color: #FDD757;
    background-color: #4E598C;
  }
  
  .inputForNew{
  
    padding: 10px;
    border: 2px solid #4E598C;
  }
  #add{
    
    height: 40px;
    border-radius:5px; 
    border: 2px solid #4E598C;
  }
  #inputDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    background-color: #E7E5DF;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    
  }

  .last{
      display: flex;
      justify-content: center;
  }
  
  .imagesDiv{
    display: flex;
    justify-content: space-around;
  }

  .insideDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px;
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}